<div class="wrapper-main background">
    <!--  Background image - photo taken by Tony Webster https://unsplash.com/@tonywebster
    https://www.flickr.com/photos/diversey?utm_medium=referral&utm_source=unsplash -->
    
    <div class="frame">
    <div class="left-column"></div> <!--  END left-column  -->
        <div class="headline" id="home">
            <span class="header"><h1>Sebastian</h1></span>
            <div class="underline"></div>
            <span class="sub-header"><h1>Fairchild</h1></span>
        </div>
    </div> <!-- END frame -->
    <div class="wrapper-nav">
    <nav>
        <ul>
            <li><a href="#"><i id="about" class="fa fa-search" aria-hidden="true"></i></a></li>
            <li><a href="#"><i id="resume" class="fa fa-folder-o" aria-hidden="true"></i></a></li>
            <li><a href="#"><i id="contact"  class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="https://github.com/fairchildseb/"><i id="github" class="fa fa-github" aria-hidden="true"></i></a></li>
            <li><a id="linkedIn" target="_blank" href="https://www.linkedin.com/in/sebastian-fairchild-86b638a9"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i id="music" class="fa fa-music" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
    </div>
</div>  <!-- END wrapper-main -->   