<div class="left-column">
	<h1>resume</h1>

	<div class="content">
	<div class="content-group">

		<div class="group-header">
			<h4>Current Position</h4>
		</div>
		<div class="group-copy">
			<p class="title">Hubspot, Cambridge, MA</p>
			<p>Product Expert (Integrations / Salesforce) (November 2015 - present)</p>
		</div>
	</div>
	<div class="content-group">
		<div class="group-header">
			<h4>Skills</h4>
		</div>
		<div id="split-list"class="group-copy">
			<p>HubSpot</p>
			<p>Salesforce</p>
			<p>HTML5</p>
			<p>CSS3</p>
			<p>Javascript</p>
			<p>ES6</p>
			<p>node.js</p>
			<p>Python</p>
			<p>SQL</p>
			<p>C</p>
			<p>PHP</p>
		</div>
	</div>
	<div class="content-group">
		<div class="group-header">
			<h4>Education</h4>
		</div>
		<div class="group-copy">
			<p class="title">Harvard Extension School</p>
			<p>CS50 (Spring 2016)</p>
			<p class="title">General Assembly</p>
			<p>Front End Web Development (Summer 2015)</p>
			<p class="title">University of Alaska Anchorage</p>
			<p>B.A. Music Performance (Cum Laude)</p>

		</div>
	</div>
	<div class="content-group">
		<div class="group-header">
			<h4>Work History</h4>
		</div>
		<div class="group-copy">
			<p class="title">HubSpot - Cambridge, MA</p>
			<p>Support Engineer (January 2015 - October 2015)</p>
			<p>Senior Support Engineer (October 2015 - November 2015)</p>
		</div>
	</div>
	</div>  <!-- END content  -->
	
	<h1>portfolio</h1>
	<div class="content">
		<div class="content-group">
		<div class="group-header">
			<h4>HubSlacker</h4>
		</div>
		<div class="group-copy">
			<p></p>
		</div>
	</div>
	<div class="content-group">
		<div class="group-header">
			<h4>The G2 Gallery (Mockup)</h4>
		</div>
		<div class="group-copy">
			<p></p>
		</div>
	</div>
	<div class="content-group">
		<div class="group-header">
			<h4></h4>
		</div>
		<div class="group-copy">
			<p></p>
		</div>
	</div>
	</div>
</div>  <!--  END left-column  -->
